@use "../../foundation/variable" as v;

.p-chat {
  width: 100%;

  .p-chat__title {
    margin: 0;
    font-size: v.$font-size-lg;
  }

  .p-chat__box {
    height: 70vh;
    max-height: 610px;
    background-color: v.$color-white;
    box-shadow: v.$box-shadow-box;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 2rem;
    overflow-y: scroll;

    /* スクロールバーのカスタマイズ */
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: v.$color-primary;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: v.$color-gray;
      border-radius: 10px;
    }

    .p-chat__box-list {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .p-chat__box-msg {
        max-width: 180px;
        border-radius: 30px;
        padding: 0.5rem 1.8rem;
        min-height: 30px;
        font-size: v.$font-size-msg;
      }

      .p-chat__box-date {
        margin-top: 0.3rem;
        padding-right: 0.6rem;
      }
    }

    // メッセージのステータスmeがおくったときのスタイル
    .--me {
      align-items: flex-end;
      .p-chat__box-msg {
        background-color: v.$color-secondary;
      }
    }

    // メッセージのステータスmeがおくったときのスタイル
    .--you {
      .p-chat__box-msg {
        background-color: v.$color-gray;
      }

      .p-chat__box-date {
        padding-left: 0.6rem;
      }
    }
  }

  .p-chat__form {
    display: flex;
    column-gap: 20px;
    margin-top: 2rem;
    font-size: v.$font-size-md;

    .p-chat__form-select {
      max-width: 120px;
      width: 100%;
      cursor: pointer;
    }

    .p-chat__form-input-wrapper {
      position: relative;
      .p-chat__form-input {
        max-width: 320px;
        width: 100%;
        height: 50px;
        border-radius: 45px;
        padding: 0 1.5rem;
        border: none;
        box-shadow: v.$box-shadow-box;
        font-size: v.$font-size-sm;

        &:focus {
          outline: none;
        }
      }

      .p-chat__form-input-error {
        position: absolute;
        font-size: v.$font-size-xs;
        bottom: -1.8rem;
        left: 1rem;
        color: v.$color-error;
      }
    }
  }
}
