@use "../../foundation/variable" as v;

.p-login {
  margin-top: 5rem;
  width: 100%;
  height: 550px;
  background: v.$color-white;
  border-radius: 2rem;
  box-shadow: v.$box-shadow-box;
  padding: 5rem;
  position: relative;

  .p-login__title {
    margin: 0;
    font-size: v.$font-size-lg;
    text-align: center;
  }

  // ここからログインフォーム
  .p-login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;

    .p-login__form-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .p-login__label {
        font-size: v.$font-size-md;
        display: flex;
        align-content: center;

        .p-login__label-title {
          margin: auto;
        }

        .p-login__input-box {
          position: relative;

          .p-login__input {
            font-size: v.$font-size-xs;
            padding: 0 1.5rem;
            margin-left: 1rem;
            width: 100%;
            min-width: 280px;
            height: 50px;
            background-color: v.$color-secondary;
            border-radius: 50px;
            border: none;
            box-shadow: v.$box-shadow-box;

            &::placeholder {
              font-size: v.$font-size-xs;
            }
            &:focus {
              outline: none;
            }
          }

          .p-login__form-error {
            position: absolute;
            bottom: -2rem;
            left: 2.5rem;
            color: v.$color-error;
            font-size: v.$font-size-xs;
          }
        }
      }

      .--mt-4 {
        margin-top: 4rem;
      }
    }

    .p-login__form-btn-wrapper {
      position: absolute;
      bottom: 10rem;
    }
  }
}
