@use "../foundation" as v;

.l-main {
  width: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  height: auto;
  padding: 0 50px;
  position: relative;

  .l-main__container {
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
